h1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 56px;
    color: #528C9C;
    font-weight:200; 
}
h2 { font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    font-weight: 400;
    color:#528C9C
    }

 h3 { font-family: 'Cormorant Garamond', serif;
        font-size: 24px;
        font-weight: 100;
        font-style: italic;
        color: #528C9C;
        line-height: 1;
 }

 P1 { font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 100;
 
     }

 P2 { font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 100;
        line-height: 1.5;
 
     }

body, h1, h2, h3, p1, p2, header, section {
    margin: 0;
    padding: 0;
  }

  header {
    background-color:#323A5A ;
    display: inline-flex;
    color: #F8F8F8;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
 }

#logo {
    padding: 16px;
    }

#imagen-logo { 
    width: 50px;
	height: 50px;
	object-fit:scale-down
}
 header a{
    color: #F8F8F8;
    padding: 16px;
}

a:hover {color: #87C39A}
 .hero {
    padding: 48px;
    display: block;
    flex-direction: column ;
    align-content:  center;
    justify-content: center;
    text-align: center;
    
}
#frase { padding: 32px; text-align: center};

#violeta {color:#6973A4}

#Sobre-mi {
    display: flex;
    flex-wrap: nowrap;
    padding: 80px 48px;
    justify-content: space-around;
    align-content: center;
}
   
#texto { width: 55%}

.imagen { display: flex;
     align-items: center;
     justify-content: flex-end;
    height: auto;
    
    }


.imagen  img{
	width: 350px;
	height: 350px;
	object-fit: cover;
	 }

#Especialidades {
    display:block;
    background-color: #6973A4;
    color:#F8F8F8;
    width: 100%;
    padding-top: 48px;
    align-content:  center;
    justify-content: center;
}

#titulo h2{text-align: center;
padding: 32px;
color:#F8F8F8}

#parrafo { 
    padding: 80px 100px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

#bloque{
    text-align: center;
    margin: 32px;
    width: 25%
    }
    
#bloque h2{
    color:#F8F8F8
}


#frase{ 
    padding: 100px;
}

#Abordajes {
    display: block;
    flex-direction: column;
    align-content: left;
    padding: 80px;
}

li{
        border: 1px solid black;
       padding: 8px 32px;
        margin-top: 1vh;
}

.contenedor2 {
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around
    }

   
    .imagen2{

    display: flex;
    align-items: center;
    justify-content: center;
   
    }  

#Recursos {

    padding:200px;
    display:flex;
    flex-direction: column;
    align-items: center; 
}

iframe {

    margin: 32px
}

#Consulta{
    background-color: #87C39A;
    padding: 50px;
}

#reserva {
    color: #F8F8F8;
    text-align: center;
}
form {
    max-width: 400px;
    margin: 20px auto;
  }

  #seccion2, #seccion3 {
    display: none;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  footer {
    background-color: #323A5A;
    color: #f8f8f8;
    text-align: center;
    padding: 20px;
    }


